@import '../../styles/style.scss';

@mixin circle-text ($num-letters) {
  $angle-per-char: 360deg / $num-letters;
  @for $i from 0 to $num-letters {
    &.char#{$i} {
      transform: rotate($angle-per-char * $i);
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-with-circle-text {
  width: 250px;
  height: 250px;
  transition: all 0.25s ease;

  &:hover {
    transform: scale(1.1);
  }

  position: absolute;
  // left: -110px;
  // bottom: -45px;
  left: -80px;
  bottom: -75px;

  .MuiIconButton-root {
    width: 250px;
    height: 250px;
    background: white !important;
  }

  .MuiSvgIcon-root {
    width: 56px;
    height: 56px;
    color: black;
  }

  .circle-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    pointer-events: none;

    animation: spin 30s linear infinite;
    -webkit-animation: spin 30s linear infinite;

    .MuiTypography-root {
      display: flex;
      justify-content: center;
      text-transform: none;

      span {
        position: absolute;
        height: 125px;
        transform-origin: bottom center;
        @include circle-text(57);
     }
    }
  }
}

@media screen and (min-width: 1551px) {
  .button-with-circle-text {
    width: 300px;
    height: 300px;
    left: -155px;
    bottom: -85px;

    .MuiIconButton-root {
      width: 300px;
      height: 300px;
    }

    .MuiSvgIcon-root {
      width: 78px;
      height: 78px;
    }

    .circle-text {
      .MuiTypography-root {
        font-size: 2rem;

        span {
          height: 150px;
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .button-with-circle-text {
    width: 210px;
    height: 210px;
    left: -65px;
    bottom: -55px;

    .MuiIconButton-root {
      width: 210px;
      height: 210px;
    }

    .MuiSvgIcon-root {
      width: 55px;
      height: 55px;
    }

    .circle-text {
      .MuiTypography-root {
        span {
          height: 105px;
        }
      }
    }
  }
}

@media screen and (min-width: 577px) and (max-width: 1024px) {
  .button-with-circle-text {
    width: 180px;
    height: 180px;
    position: relative;
    left: 0;
    bottom: 100px;
    margin: auto;

    .MuiIconButton-root {
      width: 180px;
      height: 180px;
    }

    .MuiSvgIcon-root {
      width: 35px;
      height: 35px;
    }

    .circle-text {
      .MuiTypography-root {
        font-size: 1.1rem;

        span {
          height: 90px;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .button-with-circle-text {
    width: 120px;
    height: 120px;
    left: calc(100%/2 - 56px);
    bottom: -45px;

    .MuiIconButton-root {
      width: 120px;
      height: 120px;
    }

    .MuiSvgIcon-root {
      width: 27px;
      height: 27px;
    }

    .circle-text {
      .MuiTypography-root {
        font-size: 0.75rem;

        span {
          height: 60px;
        }
      }
    }
  }
}
