@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Poppins/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/Poppins/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/Poppins/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/Poppins/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/Poppins/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/Poppins/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: lighter;
  font-weight: 300;
  src: url('../assets/fonts/Roboto/roboto-v30-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/Roboto/roboto-v30-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/Roboto/roboto-v30-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/Roboto/roboto-v30-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/Roboto/roboto-v30-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/Roboto/roboto-v30-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Roboto/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/Roboto/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/Roboto/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/Roboto/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/Roboto/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/Roboto/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

$lightGreen: #E4F69C;
$lightBlue: #87E8FD;
$lightGray: #F4F4F4;
$mediumGray: #DADADA;
$darkGray: #6C6C6C;

.page-container {
  background-image:
    url('../assets/images/background/left-bg.svg'),
    url('../assets/images/background/right-bg.svg');
  background-repeat: no-repeat;
  background-position: top 1000px left -720px, top -100px right -630px;
}

.mb-3 {
  margin-bottom: 3px !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.mb-70 {
  margin-bottom: 70px;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-direction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.semi-bold {
  font-weight: 400;
}

.bold {
  font-weight: 600 !important;
}

.gray {
  color: $darkGray;
}

.green {
  color: $lightGreen;
}

.image-container {
  max-width: 555px;
}

img {
  width: 100%;
  height: auto;
}

.text-container {
  max-width: 420px;

  &.large {
    max-width: 530px;
  }
}

@media screen and (min-width: 1551px) {
  .responsive-container {
    width: 1450px;
    padding: 0;
  }

  .lg-mb-450 {
    margin-bottom: 450px;
  }

  .lg-ml-40 {
    margin-left: 40px;
  }

  .lg-pt-150 {
    padding-top: 150px;
  }
}

@media screen and (min-width: 1351px) and (max-width: 1550px) {
  .responsive-container {
    width: 90%;
    padding: 0;
  }

  .lg-mb-450 {
    margin-bottom: 450px;
  }

  .lg-pt-150 {
    padding-top: 150px;
  }

  .lg-ml-40 {
    margin-left: 40px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1350px) {
  html {
    font-size: 15px;
  }

  .responsive-container {
    width: 90%;
    padding: 0;
  }

  .lg-mb-450 {
    margin-bottom: 450px;
  }

  .lg-pt-150 {
    padding-top: 150px;
  }

  .lg-ml-40 {
    margin-left: 40px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  html {
    font-size: 14px;
  }

  .responsive-container {
    width: 90%;
    padding: 0;
  }

  .lg-mb-450 {
    margin-bottom: 450px;
  }

  .lg-pt-150 {
    padding-top: 150px;
  }

  .lg-ml-40 {
    margin-left: 40px;
  }
}

@media screen and (min-width: 577px) and (max-width: 1024px) {
  html {
    font-size: 14px;
  }

  .responsive-container {
    width: 90%;
    padding: 0;

    .section-container {
      flex-direction: column;
    }
  }

  .md-mb-150 {
    margin-bottom: 150px;
  }

  .sm-text-center {
    text-align: center;
  }

  .page-container {
    background-image:
      url('../assets/images/background/right-bg.svg'),
      url('../assets/images/background/right-bg.svg');
    background-repeat: no-repeat;
    background-position: top -280px left -310px, top 1400px left 10px;
    background-size: 120%, 160%;
  }
}

@media screen and (max-width: 576px) {
  .responsive-container {
    width: 100%;
    padding: 0 28px;

    .section-container {
      flex-direction: column;
    }
  }

  .content-block {
    width: 100%;
  }

  .sm-mb-95 {
    margin-bottom: 95px;
  }

  .sm-pt-27 {
    padding-top: 27px;
  }

  .sm-text-center {
    text-align: center;
  }

  .sm-center {
    display: flex;
    justify-content: center;
  }

  .page-container {
    background-image:
      url('../assets/images/background/right-bg.svg'),
      url('../assets/images/background/right-bg.svg');
    background-repeat: no-repeat;
    background-position: top -80px left -230px, top 1400px left 10px;
    background-size: 450px, 900px;
  }
}

:export {
  lightGreen: $lightGreen;
  lightBlue: $lightBlue;
  lightGray: $lightGray;
  mediumGray: $mediumGray;
  darkGray: $darkGray;
}
