.header {
  display: flex;
  justify-content: center;
  padding: 30px 0 0 0;

  .logo {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  .MuiTypography-root {
    color: black;
    font-weight: 400;
  }

  svg path {
    display: none;
  }

  svg rect {
    stroke-width: 4;
  }
}

@media screen and (max-width: 576px) {
  .header {
    .MuiTypography-root {
      .MuiTypography-root {
        display: none;
      }
    }

    svg path {
      display: inline;
    }
  }
}
